.App {
  justify-content: center;
  width: 70%;
  margin: auto;
  border: 3px solid gray
}

nav {
  background-color: white;
  color: #000435;
  padding: 10px;
  borderRadius: 8px;
  border: 1px solid navy;
  text-align: right;
}

nav a {
  color: #000435;
  text-decoration: none;
}

.ribbon {
  background-color: #000435;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.ribbon h1 {
  margin: 0;
}

.ribbon p {
  margin: 0;
}

footer {
  background-color: #000435;
  color: white;
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 50px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: navy;
  color: white;
}

button:disabled {
  opacity: 0.5;
}

button.pronounce {
  background-color: red;
}

button.pause {
  background-color: green;
}

button.clear {
  background-color: red;
  color: white;
}

label {
  margin: 10px;
  font-size: 16px;
  color: navy;
}

input[type="range"] {
  margin: 10px;
  width: 200px;
}

::placeholder {
  color: gray;
}
